<section class="section-projects">
    <div class="container">
        <div class="section-projects__wrapper shadow">

            <app-search-box></app-search-box>

            <div class="section-projects__header">
                <app-data-headers></app-data-headers>
            </div>

            <div class="section-projects__results pb-4">
                <app-data-item *ngFor="let project of projects"
                               [item]="project"
                ></app-data-item>
            </div>

            <app-pagination
                    [pages]="12"
                    [currentPage]="2"
                ></app-pagination>
        </div>
    </div>
</section>
