<section class="section-projects">
    <div class="container">
        <div class="section-projects__wrapper shadow">

            <app-search-box
                (setTermEvent)="updateTerm($event)"></app-search-box>

            <div class="section-projects__header d-none d-md-block">
                <app-data-headers></app-data-headers>
            </div>

            <div class="section-projects__results pb-4">
                <app-data-item *ngFor="let project of projects | filtering: term | paging: currentPage"
                               [item]="project"
                ></app-data-item>
            </div>

            <app-pagination
                    [pages]="pages"
                    [currentPage]="currentPage"
                    (setPageEvent)="setPage($event)"
                ></app-pagination>
        </div>
    </div>
</section>
