<div class="search__wrapper">
    <div class="row">
        <div class="col-12">
            <label class="search__box">
                <svg class="search__icon">
                    <use href="#icon-search"></use>
                </svg>
                <input (change)="setTerm($event)" class="search__input" placeholder="Search project"/>
                <svg class="search__filter">
                    <use href="#icon-filters"></use>
                </svg>
            </label>
        </div>
    </div>
</div>
